# ----------------------------
# Global ignores (common to all)
# ----------------------------

# Node dependencies
**/node_modules
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage reports
**/coverage

# Build output
**/build
**/dist

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp

# ----------------------------
# Frontend specific (React SPA)
# ----------------------------
fe-spa-durban-admin-develop-main/.cache
fe-spa-durban-admin-develop-main/.next
fe-spa-durban-admin-develop-main/.turbo

# ----------------------------
# Backend specific (API server)
# ----------------------------
api-spa-durban-develop-main/.env
api-spa-durban-develop-main/.cache
api-spa-durban-develop-main/.turbo
api-spa-durban-develop-main/pids
api-spa-durban-develop-main/*.pid
api-spa-durban-develop-main/*.pid.lock
# uploads
api-spa-durban-develop-main/public/uploads/

api-spa-durban-develop-main/.env
